<div class="lay-header container">
  <div class="jumbotron text-center">
    <h1>{{league.caption}}</h1>
    <span class="lead">Number of Teams:
      <span>{{league.numberOfTeams}}</span>
    </span>
  </div>
</div>
<div class="lay-body container extended">
  <div class="well">
    <input class="ld-search" placeholder="Search ..." ng-model="searchTerm">
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="team in teams | filter:searchTerm">
      <div team-thumbnail></div>
    </div>
  </div>
</div>
